{"money":500,"upgrades":{"bazooka":false,"buffer_level":1,"coin_magnet":false,"current_weapon":"Normal","hammer":false,"laser_beam":false,"rapid_fire":false,"sniper":false,"speed_boost":0,"spread_shot":false,"sword":false,"uzi":false}}